<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@{{ item.map }}
    ServerName {{ item.map }}
    ServerAlias www.{{ item.map }}
    DocumentRoot {{ item.to }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory "{{ item.to }}">
      AllowOverride All
      Allow from All
    </Directory>
</VirtualHost>

